<section id="plan">
  <h3><%= @product %> / <%= @plan %></h3>
  <% @prices.each do |price| %>
    <p><%= link_to price[:subscription], order_path(price: price[:price], period: price[:subscription]) %>
    <%= link_to price[:price], '#' %></p>
  <% end %>
</section>
